@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Josefin+Sans:wght@500&display=swap');

*{
    padding: 0%;
    border: ;
    margin: 0%;
}
header{
    display:block;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:#043e7d;
    font-family: 'Josefin Sans', sans-serif;
}
#logo1{
    left: 0px;
    position: absolute;
}
#logo2{
    right: 0;
    top: 0;
    position: absolute;
}
#name{
    text-align: center;
    text-decoration:underline;
    font-size: 40px;
    padding-top: 31px;
    padding-bottom: 5px;
}
#name2{
    text-align: center;
    font-size: 20px;
    padding-bottom: 6px;
}
nav{
    border-top:3px solid grey;
    background-color:#00B7EB;
    padding-bottom: 10px;
    padding-top: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 8px;
    border-width: 2px;
    margin-left: 5px;
    margin-right: 5px;
    border:solid #00B7EB;
    border-radius: 2px;
}
nav div{
    text-align: center;
    text-decoration: none;
    color: black;
}
#copy{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 3px solid #777b74;
    color: #c5c6d0;
}
footer{
    background-color: #043e7d;
}
#conid{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    color: #c5c6d0;
    padding-bottom: 28px;
}
.under{
    padding-bottom: 8px;
    text-decoration: underline;
}
.container {
    background-color: #043e7d;
    position: relative;
    text-align: center;
    color: white;
  }
.content {
    position: absolute;
    bottom: 0; /*
    background: rgb(255, 255, 255); 
    background: rgba(255, 255, 255, 0.3); 
    color: #000000; 
    width: 100%;   */
    
  }